.filter {
  margin: 1.5rem 0rem;
  font-weight: normal;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__button {
    background: $grey--twentyNine !important;
    border: none !important;
    font-size: 1rem !important;
    padding: 0em 1.4em !important;
    height: 2.5rem !important;
    font-weight: 500 !important;
    &:hover,
    &:focus {
      background: $grey--twentyEight !important;
      color: $black !important;
    }
  }
  &__search {
    margin-right: 1.5rem;
  }
  &__search-icon {
    transform: scale(1.5);
    cursor: pointer;
  }
  &__search-input {
    height: 2.5rem;
    width: 20rem;
    border-bottom: 1px solid $grey--twentyEight;
    transition: all 2s;
    &:hover,
    &:focus {
      border-bottom: 1px solid $grey--twentyEight;
    }
  }
  &__menu-title {
    padding: 0.8rem 0.3rem;
    width: 31.25rem;
  }
  &__menu-content {
    padding: 0.4rem 1rem 0.2rem;
  }
  &__menu-content-section {
    margin: 1rem 0 1.5rem;
    .ant-select-selector {
      background: $grey--twentyNine !important;
      border: none !important;
      border-radius: 0.3rem !important;
    }
    .ant-select-selection-item {
      font-size: 1.0625 !important;
      color: $grey--seven !important;
    }
  }
  &__menu-content-checkbox {
    font-size: 1rem;
  }
  &__menu-content-subscription {
    width: 50%;
  }
  &__menu-content-checkbox .ant-checkbox {
    transform: scale(1.3);
    margin-right: 0.2rem;
  }
  &__menu-content-label {
    color: $grey;
  }
  &__menu-content-card-holder {
    width: 100%;
  }
  &__menu-content-btn-box {
    display: flex;
    gap: 20px;
    &__apply-btn,
    &__clear-btn {
      height: 40px !important;
      border-radius: 0.5rem !important;
      font-weight: 600 !important;
      text-transform: capitalize;
      font-size: 16px !important;
    }
    &__apply-btn {
      flex: 1;
      color: $white !important;
      background: $red--four !important;
      &:focus,
      &:hover {
        color: $white !important;
        background: $red--four !important;
        outline: $red--four !important;
      }
    }
    &__clear-btn {
      flex: 1;
      color: $black !important;
      border: none !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
      &:focus,
      &:hover {
        color: $black !important;
        background: $white !important;
        outline: $black !important;
      }
    }
  }
}
