.virtual-card-wrapper {
  font-style: normal;
  padding: 2rem 3rem;
  font-weight: normal;
  font-style: normal;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }
  &__heading {
    display: flex;
    align-items: center;
    &__learn-more {
      color: $blue--six;
      padding: 0.4em;
      margin: 0.3rem 1rem 0;
      border-radius: 0.3rem;
      background: $grey--four;
    }
  }
  &__add-card {
    font-weight: 500;
    font-size: 18px;
    padding: 0.7rem 1.5rem;
    background-color: $white;
    border-radius: 0.3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__plus-icon {
    margin-right: 0.5rem;
  }
  .ant-tabs-tab-btn {
    font-size: 20px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1d1d1d;
    font-weight: 500;
  }
  .ant-tabs-ink-bar {
    background: $red--two;
    height: 4px !important;
  }
  .ant-tabs-tab:hover {
    color: #1d1d1d;
  }
}
